<div class="jumbotron">
            <hr>
            <h1>Salary Dashboard</h1>
            <hr>
            
            <table class="table table-sm table-stripped" id="content"  >
                
                <thead>
                    <tr  class="bg-info text-white text-center">
                            
                            <th>NAME</th>
                            <th>MONTH</th>
                            <th>YEAR</th>
                            <th>SALARY</th>
                                 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of salaryInfo" class="text-center">
                            
                            <td>{{row.name}}</td>
                            <td>{{row.month}}</td>
                            <td>{{row.year}}</td>
                            <td>{{row.salary}}</td>
                    </tr>
                    
                </tbody>
            </table>
            <div class="flex-box">
                <button class="btn btn-info mx-2" (click)="makePdf()">Download</button>
            </div>
            
        </div>   
        
        

        
