<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <div class="align">
                
                    <h1>Login</h1>
                
                <form>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group">
                          <label for="employeeid">Enter Employeeid</label>
                          <input formControlName="employeeid" type="text" class="form-control" id="employeeid"> 
                        </div>
                        <button type="submit" class="btn btn-primary mb-3">Login</button>
                      </form>'
                </form>
            </div>
        </div>
    </div>
</div>
